{% block kd_gmap %}
    <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="450px" id="gmap_canvas" src="https://maps.google.com/maps?q=Ginnheimer%20Stadtweg%2090,%2060431%20Frankfurt%20am%20Main&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:450px;width:100%;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:450px;width:100%;}</style></div></div>
{% endblock %}