<div {% if block.classes != '' %}class="{{ block.classes }}"{% endif %} 
  {% if block.animation != '' %} data-aos="{{ block.animation }}" {% endif %}
  {% if block.color %} style="background-color: {{ block.color }};"{% endif %}>
  {{ snippet('includes/' ~ block.snippet) }}
</div>