{% block kd_text %}
  <div class="{% if block.classes != '' %}{{ block.classes }}{% endif %} {% if block.centered.isTrue %}text-center{% endif %}" 
    {% if block.animation != '' %} data-aos="{{ block.animation }}" {% endif %}
    {% if block.color != '' %}style="background-color: {{ block.color }};"{% endif %}>
      {{ block.text.kt | raw }}
  </div>
{% endblock %}